$blue: #00ADEE;
$foot-height: 200px;
$text-big: 24px;
$text-small: 12px;

.footer-cont {
  background-color: $blue;
  height: $foot-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .footer-slog {
    color: white;
    font-size: $text-big;
  }

  .footer-cpyrgt {
    color: white;
    font-size: $text-small;
    position: relative;
    left: 790px;
    bottom: -20px;
  }

  .footer-logo {
    margin-top: 10px;
  }
}
