$tech-logo-size: 100px;
$nav-height: 70px;
$nav-logo-height: 30px;

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px 30px 20px;
  width: 210px;
  font-size: $text-small;
  border-radius: 10px;
  position: relative;
  margin: 20px;

  .tech-logo, .tech-title, .tech-rls, .tech-desc {
    padding: 5px;
  }

  .tech-logo {
    width: $tech-logo-size;
    height: $tech-logo-size;
  }

  .tech-desc {
    margin-top: 5px;
  }

  .tech-title {
    font-size: $text-medium;
  }

  .tech-rls {
    font-weight: bold;
  }
}

.techs {
  margin: 0 300px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    "main sub";

  .techs-main {
    grid-area: main;
    align-self: center;
  }

  .techs-sub {
    border-left: 2px solid $green;
    grid-area: sub;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
