@import '../../../scss/colors';

.body-auth {
  background-color: $grey;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
