.user-comment
  img.user-img(src="{{$ctrl.comment.user.image_url? $ctrl.comment.user.image_url : '../../assets/default_book.svg'}}" alt='user-image')
  .comment-info
    span.name {{$ctrl.comment.user.first_name}} {{$ctrl.comment.user.last_name}}
    span.date {{$ctrl.comment.created_at.substring(0,10)}}
    span.description {{$ctrl.comment.content}}
