.user-comment
  img.user-img(src='{{$ctrl.comment.userImage}}' alt='user-image')
  .comment-info
    span.name {{$ctrl.comment.name}}
    span.date {{$ctrl.comment.date}}
    span.description {{$ctrl.comment.description}}
