.user-comment
  img.user-img(ng-if='$ctrl.comment.userImage' src='{{$ctrl.comment.userImage}}' alt='user-image')
  img.user-img(ng-if='!$ctrl.comment.userImage' src='../../assets/default_book.svg' alt='user-image')
  .comment-info
    span.name {{$ctrl.comment.name}}
    span.date {{$ctrl.comment.date}}
    span.description {{$ctrl.comment.description}}
