$button-height: 40px;

.btn-main {
  font-size: $text-medium;
  color: white;
  background-color: $green;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  height: $button-height;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    border: 2px solid $green;
    color: $green;
    background-color: white;
    cursor: not-allowed;
  }

  &:active {
    box-shadow: 0 5px $green-shadow;
    transform: translateY(5px);
  }
}
