$nav-height: 50px;

.navbar {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  height: $nav-height;
  padding: 5px;
  box-shadow: 0 8px 5px -5px $grey;
  top: 0;
  left: 0;
  background-color: white;
  border-top: 5px solid $blue;

  .header {
    height: 100%;
    &::before {

      height: 100%;
    }
  }
}
