@import 'app/scss/variables/_colors.scss';

$no-book-img-size: 70px; 
$search-icon-size: 25px;

.dashboard-container{
  max-width: 840px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.book {
  display: flex;
  flex-direction: column;
  margin: 40px 40px 40px 0;
  width: 150px;

  .book-img {
    width: 130px;
    height: 180px;
  }

  .book-title {
    font-weight: bold;
    margin-top: 20px;
  }

  .book-author {
    margin-top: 10px;
    font-size: 12px;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.base-input {
  background-color: $lighter-grey;
  padding: 10px;
  font-style: italic;
  font-size: 14px;
  color: $light-grey;
  line-height: 19px;
  width: 240px;
  height: 40px;
}

.search-icon {
  height: $search-icon-size;
  width: $search-icon-size;
  margin: 0 10px;
}

.search-icon-container {
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-container {
  display: flex;
}

.filter-criteria {
  display: flex;
  margin-bottom: 20px;
}

.filter-select {
  @extend .base-input;
  margin-right: 20px;
}

.filter-select-img {
  position: relative;

  &::after {
    content: '\25bc';
    position: absolute;
    top: 15px;
    left: 214px;
    color: $light-grey;
  }
}

.no-book-img {
  width: 130px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;

  .book-img {
    width: $no-book-img-size;
    height: $no-book-img-size;
  }
}
