$book-size: 200px;
$book-img-size: 100px;

.books {
  margin: 100px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;


  .book {
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: $book-size;
    height: $book-size;
    padding: 5px;

    .book-title {
      font-size: 20px;
    }

    .book-author {
      font-size: 10px;
    }

    .book-img {

      width: $book-img-size;
      height: $book-img-size;
    }
  }
}
