$book-width: 220px;
$book-height: 260px;

.books {
  margin: 50px 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .book {
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: $book-width;
    height: $book-height;
    padding: 15px;

    .book-title {
      font-size: 15px;
    }

    .book-author {
      font-size: 10px;
    }

    .book-img {
      margin-bottom: 15px;
      width: 100%;
      height: 170px;
    }
  }
}
