.sign-up-container
  span Registrarse
  form.sign-up-form
    .form-group
      label.form-label Nombre
      input.form-input
    .form-group
      label.form-label Apellido
      input.form-input
    .form-group
      label.form-label Email
      input.form-input
    .form-group
      label.form-label Contraseña
      input.form-input
    .form-group
      label.form-label Confirmar contraseña
      input.form-input
    button.blue-btn Aceptar
