.sign-up-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.title-img {
  margin-bottom: 20px;
}
.sign-up-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;

  .form-group {
    display: flex;
    flex-direction: column;
    max-width: 541px;
    width: 100%;
    margin-top: 20px;

    .form-input {
      background-color: $lighter-grey;
      height: 38px;
      width: 100%;
    }

    .form-label {
      
      margin-bottom: 5px;
    }

    .error {
      color: red;
    }
  }

  .blue-btn {
    margin-top: 30px;
  }
}
