@import '../../scss/colors';
@import '../../scss/fonts';
$form-width: 350px;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $form-width;
  background-color: $grey;
  border-top: 5px solid $blue;
  padding: 20px;

  .form-field {
    margin-bottom: 10px;
    font-size: $text-small;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-input {
    padding: 7px;
    border-radius: 5px;
    margin: 5px 0;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .header-title {
    font-size: $text-medium;
  }

  .header-logo {
    margin-bottom: 10px;
    width: 300px;
  }
}

.alert {
  background: $alert-color;
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.button {
  font-size: $text-medium;
  color: white;
  background-color: $green;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    border: 2px solid $green;
    color: $green;
    background-color: white;
    cursor: not-allowed;
  }

  &:enabled {
    &:hover {
      background-color: #608000;
    }
  }

  &:active {
    box-shadow: 0 5px #666;
    transform: translateY(5px);
  }
}

.form {
  display: flex;
  justify-content: center;
}
