<div *ngIf="!firstName; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div  class="form-container">
      <div clas="row-columns">
        <h1>Books</h1>
        <label>First Name
          <input type="text" formControlName="firstName">
        </label>
        <label>Last Name
          <input type="text" formControlName="lastName">
        </label>
        <label>Email
          <input type="text" formControlName="email">
        </label>
        <label>Password
          <input type="text" formControlName="password">
        </label>
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">

      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div  class="form-container">
    <div clas="row-columns">
      <p> {{ firstName }}</p>
      <p> {{ lastName }}</p>
      <p> {{ email }}</p>
      <p> {{ password }}</p>
    </div>
  </div>
</ng-template>
