@import '../../scss/colors';
@import '../../scss/fonts';
$form-width: 350px;
$header-logo-width: 300px;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $form-width;
  background-color: $grey;
  border-top: 5px solid $blue;
  padding: 20px;


  .form-field {
    margin-bottom: 10px;
    font-size: $text-small;
    font-family: $lato;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-input {
    padding: 7px;
    border-radius: 5px;
    margin: 5px 0;
    font-family: $lato;
  }

  .form-login {
    border-top: 2px solid $light-grey;
    width: 100%;
  }

  .form-signup {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .header-title {
    font-family: $lato;
    font-size: $text-medium;
  }

  .header-logo {
    margin-bottom: 10px;
    width: $header-logo-width;
  }
}

.alert {
  font-family: $lato;
  background: $alert-color;
  padding: 7px;
  font-size: $text-alert;
  margin-bottom: 20px;
  display: inline-block;
}

.button {
  font-size: $text-medium;
  color: white;
  background-color: $green;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: $lato;

  &:disabled {
    border: 2px solid $green;
    color: $green;
    background-color: white;
    cursor: not-allowed;
  }

  &:enabled {
    &:hover {
      background-color: $dark-green;
    }
  }

  &:active {
    box-shadow: 0 5px $green-shadow;
    transform: translateY(5px);
  }
}

.form {
  display: flex;
  justify-content: center;
}
