@import '../../scss/colors';
@import '../../scss/fonts';
$form-width: 350px;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $form-width;
  background-color: $grey;
  border-top: 5px solid $blue;
  padding: 20px;

  .form-field {
    margin: 10px;
    font-size: $text-medium;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form-input {
    padding: 5px;
    border-radius: 5px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-title {
    font-size: $text-medium;
  }

  .header-logo {
    width: 300px;
  }
}


.alert {
  background: #f2edda;
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

.button {
  font-size: $text-medium;
  background-color: $green;
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;

  &:disabled {
    background-color: white;
  }
}

.form {
  display: flex;
  justify-content: center;

}
