.details-container {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
}

%base-btn {
  width: 192px;
  height: 38px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.book-details-container {
  display: flex;
  margin-top: 50px;
  height: 310px;
  border-bottom: 2px solid #00adee;

  .book-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: 275px;

    .book-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .book-item {
      font-size: 16px;
      margin: 5px 0;
      color:#4a4a4a;
    }
    
    .book-author {
      margin-bottom: 15px;
    }

    .book-desc {
      margin-top: 15px;
      font-size: 14px;
      color: #999999;
    }

    .rent-btn {
      @extend %base-btn;
      margin-top: auto;
      background: #00adee;
    }
  }

  .book {
    display: flex;
    flex-direction: column;
    width: 291px;
    height: 372px;

    .no-book  {
      width: 291px;
      height: 372px;
    }

    .book-img {
      width: 195px;
      height: 275px;
    }

    .no-book-img {
      width: 195px;
      height: 275px;
      align-items: center;
      background-color: $grey;
      display: flex;
      justify-content: center;

      .book-img {
        width: 120px;
        height: 120px;
      }
    }
  }
}

.book-suggestions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 2px solid #00adee;
  padding-bottom: 20px;

  .books-list {
    display: flex;
    flex-wrap: wrap;

    .book {
      display: flex;
      flex-direction: column;
      margin: 10px 30px 10px 20px;

      .book-img {
        height: 124px;
        width: 87px;
      }

      .book-title {
        font-weight: bold;
        margin-top: 20px;
      }

      .book-author {
        font-size: 12px;
        margin-top: 10px;
      }

      .no-book-img {
        align-items: center;
        background-color: $grey;
        display: flex;
        height: 124px;
        justify-content: center;
        width: 87px;

        .book-img {
          height: $no-book-img-size;
          width: $no-book-img-size;
        }
      }
    }
  }
}

.details-title {
  margin: 30px 0 20px 0;
  font-size:20px;
  color:#a5cd39;
  font-weight: bold;
}

.user-img {
  height: 40px;
  width: 40px;
}

.book-comments {
  display: flex;
  flex-direction: column;
}

.comment-container {
  display: flex;
  flex-direction: row;

  .comment-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    
    .add-comment {
      margin: 5px 0px 15px 0;
      font-weight: bold;
      font-size: 14px;
    }
  
    .comment-input {
      border: 1px solid grey;
      width: 100%;
      height: 100px;
      resize: none;
    }

    .send-btn {
      @extend %base-btn;
      background:#a5cd39;
      margin: 10px 0;
      font-size: 16px;
    }
  }
}

.saved-comment-container {
  display: flex;
  flex-direction: row;

  .comment-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;

    .name {
      font-size: 14px;
      font-weight: bold;
      margin: 5px 0px 5px 0;
    }

    .date {
      font-size:12px;
      color:#4a4a4a;
    }
    
    .description {
      color:#999999;
      margin: 15px 0;
    }
  }
}
