a(ui-sref='centered.dashboard')
  | Volver
img.book-img(ng-if='bookDetailCtrl.book.image_url', src='{{bookDetailCtrl.book.image_url}}')
.no-book-img(ng-if='!bookDetailCtrl.book.image_url')
  img.book-img(src='../../assets/default_book.svg', alt='no-book')
