.navbar-container
  img.navbar-img(src='../../../assets/wbooks_logo.svg' alt='wolox-logo')
  .nav-options
    img.option-img(src='../../../assets/notifications.svg' alt='wolox-logo')
    img.option-img(src='../../../assets/add_book.svg' alt='wolox-logo')
    .user-menu
      img.option-img(src='../../../assets/default_book.svg' alt='wolox-logo')
      .user-dropdown
        span Perfil
        span Cerrar sesión