$option-size: 35px;

.navbar-container {
  padding: 20px;
  box-shadow: 0 0 8px 0 $light-grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .navbar-img {
    height: 45px;
  }

  .nav-options {
    display: flex;
    height: $option-size;

    .notifications {
      position: relative;
  
      .counter {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 11px;
        border-radius: 50%;
        height: 12px;
        right: 27px;
        top: -3px;
        position: absolute;
        background-color: $red;
        color: $white;
        font-size: 10px;
        padding: 7px;
      }
    }
  }

  .user-menu {
    position: relative;

    .user-options {
      position: absolute;
      width: 180px;
      display: flex;
      flex-direction: column;
      left: -142px;
      top: 52px;
      box-shadow: 0 0 5px 0 $light-grey;

      .menu-link {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        background-color: $white;

        &:hover {
          background: $lightblue;
        }
      }
    }
  }
}

.option-img {
  margin-right: 25px;
  width: $option-size;
}

.notifications-container {
  position: absolute;
  background-color: $white;
  top: 45px;
  left: -265px;
  box-shadow: 0 0 3px 0 $grey;
}

.notification {
  width: 300px;
  padding: 10px;
  border-bottom: 1px solid $grey;
  display: flex;

  &:last-child {
    border-bottom: none;
  }

  .notification-details {
    display: flex;
    flex-direction: column;

    .title {
      color: $dark-grey;
      font-style: italic;
    }

    .book-title {
      font-weight: bold;
      margin-top: 5px;
    }

    .book-author {
      color: $dark-grey;
      font-size: 12px;
      margin-top: 3px;
    }
  }
}
