.navbar-container {
  padding: 20px;
  box-shadow: 0 0 8px 0 $light-grey;
  display: flex;

  .navbar-img {
    height: 45px;
  }

  .nav-options {
    margin-left: auto;
    display: flex;
    align-items: flex-end;

    .option-img {
      margin-right: 25px;
      width: 35px;
      height: 35px;
    }
  }

  .user-menu {
    position: relative;

    .user-options {
      position: absolute;
      width: 130px;
      display: flex;
      flex-direction: column;
      left: -92px;
      top: 42px;
      box-shadow: 0 0 5px 0 $light-grey;

      .menu-link {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        background-color: $white;

        &:hover {
          background: $lightblue;
        }
      }
    }
  }
}
