@import '../../../../../scss/colors';

.book {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 400px;
  width: 1000px;
  margin: 150px;
  box-shadow: 8px 8px 5px -5px $light-grey;

  .info {
    display: flex;
    flex-direction: column;
  }
}
