@import '../../../../../scss/colors';

.book {
  height: 400px;
  width: 1000px;
  margin: auto;
  flex-direction: row;
  padding: 30px 20px;
  justify-content: flex-start;
}

.book-img {
  height: 100%;
  width: 300px;
  margin-right: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid $green;
}

.book-genre {
  font-size: 20px;
}

.book-subtitle {
  margin-bottom: 20px;
  font-weight: bold;
}
