<div class="book" *ngIf="book.title">
  <img [src]="book.image_url" class="book-img" alt="Book cover">
  <div class="info">
    <h1 class="title">{{ book.title }}
      <p class="genre">({{ book.genre }})</p>
    </h1>
    <h2 class="subtitle">Book author:
      <p class="info">{{ book.author }}</p>
    </h2>
    <h2 class="subtitle">Publisher:
      <p class="info">{{ book.publisher }}</p>
    </h2>
    <h2 class="subtitle">Year of publication:
      <p class="info">{{ book.year }}</p>
    </h2>
  </div>
</div>
