$book-height: 370px;
$book-width: 290px;
$book-img-height: 275px;
$book-img-width: 195px;

$sugg-book-height: 125px;
$sugg-book-width: 90px;

.details-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 840px;
  width: 100%;
}

.return {
  font-size: 12px;
  color: $dark-grey;
  margin: 20px 0 0 20px;
}

.book-details-container {
  border-bottom: 2px solid $ribbon-blue;
  display: flex;
  height: 310px;
  margin-top: 50px;
  padding-right: 15px;

  .book-info {
    display: flex;
    flex-direction: column;
    height: 275px;
    margin-left: 20px;

    .book-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .book-item {
      color: $dark-grey;
      font-size: 16px;
      margin: 5px 0;
    }

    .book-author {
      margin-bottom: 15px;
    }

    .book-desc {
      color: $light-grey;
      font-size: 14px;
      margin-top: 15px;
    }

    .rent-btn {
      @extend %base-btn;
      background: $ribbon-blue;
      margin-top: auto;
    }
  }

  .book {
    display: flex;
    flex-direction: column;
    height: $book-height;
    width: $book-width;

    .no-book  {
      height: $book-height;
      width: $book-width;
    }

    .book-img {
      height: $book-img-height;
      width: $book-img-width;
    }

    .no-book-img {
      align-items: center;
      background-color: $grey;
      display: flex;
      height: $book-img-height;
      justify-content: center;
      width: $book-img-width;

      .book-img {
        height: 120px;
        width: 120px;
      }
    }
  }
}

.book-suggestions {
  border-bottom: 2px solid $ribbon-blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-right: 0 15px 20px;

  .books-list {
    display: flex;
    flex-wrap: wrap;

    .book {
      display: flex;
      flex-direction: column;
      margin: 5px 30px 10px 20px;

      .book-img {
        height: $sugg-book-height;
        width: $sugg-book-width;
      }

      .book-title {
        font-weight: bold;
        margin-top: 20px;
      }

      .book-author {
        font-size: 12px;
        margin-top: 10px;
      }

      .no-book-img {
        align-items: center;
        background-color: $grey;
        display: flex;
        height: $sugg-book-height;
        justify-content: center;
        width: $sugg-book-width;

        .book-img {
          height: $no-book-img-size;
          width: $no-book-img-size;
        }
      }
    }
  }
}

.details-title {
  color: $green;
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 20px;
}

.user-img {
  height: 40px;
  width: 40px;
}

.book-comments {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}

.comment-container {
  display: flex;
  flex-direction: row;

  .comment-input-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;

    .add-comment {
      font-size: 14px;
      font-weight: bold;
      margin: 5px 0 15px;
    }

    .comment-input {
      border: 1px solid $light-grey;
      height: 70px;
      resize: none;
      width: 100%;
    }

    .send-btn {
      @extend %base-btn;
      background: $green;
      font-size: 16px;
      margin: 20px 0;
    }
  }
}
