<form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="form-container" novalidate>
  <header class="header">
    <img src="assets/wolox_logo.svg" class="header-logo" alt="Wolox logo">
    <h1 class="header-title">BOOKS</h1>
  </header>
  <div class="form-signup">
    <label class="form-field">First name</label>
    <input type="text" formControlName="first_name" class="form-input">
    <p class="alert" *ngIf="!registerForm.controls['first_name'].valid && registerForm.controls['first_name'].touched">{{ fieldRequiredAlert }}</p>
    <label class="form-field">Last name</label>
    <input type="text" formControlName="last_name" class="form-input">
    <p class="alert" *ngIf="!registerForm.controls['last_name'].valid && registerForm.controls['last_name'].touched">{{ fieldRequiredAlert }}</p>
    <label class="form-field">Email</label>
    <input type="text" formControlName="email" class="form-input">
    <p class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">Please enter a valid email.</p>
    <label class="form-field">Password</label>
    <input type="password" formControlName="password" class="form-input">
    <p class="alert" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">Password must contain at least 8 characters.</p>
    <label class="form-field" *ngIf="registerForm.controls['password'].valid">Confirm Password</label>
    <input type="password" formControlName="confirm_password" class="form-input" *ngIf="registerForm.controls['password'].valid">
    <p class="alert" *ngIf="registerForm.controls.confirm_password.errors?.MatchPassword && registerForm.controls['confirm_password'].touched && registerForm.controls['password'].valid">Password does not match the confirm password.</p>
    <button type="submit" class="button-reg" [disabled]="!registerForm.valid">Sign up</button>
  </div>
  <div class="login">
    <button type="button" class="button-reg">Login</button>
  </div>
</form>
